body{
    margin: 0;
    padding: 0;
}
div.min-w {
    background-color: aqua;
    width: 80%;
    height: 200px;
    min-width: 300px;
}

.max-w {
    background-color: rgb(4, 255, 0);
    width: 80%;
    height: 200px;
    max-width: 300px;
}

/*.min-h {
    background-color: aqua;
    width: 80%;
    height: 70%;
    min-height: 10px;
}/*

/*.max-h {
    background-color: aqua;
    width: 80%;
    height: 70%;
    max-height: 20px;
}*/

.ov {
    overflow:scroll;
    min-width: 900px;
    height: 200px;
    width: 100px;
}

   
 .bt {
    border-top-left-radius: 60pt;
    border-bottom-right-radius: 60pt;
    border-color: lawngreen;
    border-style:double;
    border-width: 8px;
        /*border: solid 2px red;*/
    }