
.grid {
    display: grid;
    /*grid-template-columns:repeat(3, 1fr);*/
    /*grid-template-columns: repeat(2, 1fr 2fr);*/
    grid-template-columns: 50px repeat(1, 1fr 2fr);
    padding: 20px;
    grid-gap: 10px;
    background-color: #0d233d;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.grid div {
    padding: 0.3em;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 130%;
    font-weight: bold;
    background-color: #482880;

}

.grid div:nth-child(odd) {
    background-color: #1769aa;
}