#content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.box {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
}

.box1 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
}


.flex-container {
    display: flex;
    width: 500px;
    height: 200px;
}

.flex-item-1 {
    flex-basis: 150px;
    flex-shrink: 1;
    background-color: aqua;
}

.flex-item-2 {
    flex-basis: 200px;
    flex-shrink: 2;
    background-color: antiquewhite;
}

.flex-item-3 {
    flex-basis: 300px;
    flex-shrink: 3;
    background-color: aquamarine;
}
