table {
    border: 10px solid black;
}
th {
    border: 15px solid red;
}

td {
    border: 10px solid blue;
}
caption {
    text-align: center;
    caption-side: bottom;
}

td:nth-child(odd) {
    font-size: 40px;
    background-color: chartreuse;
}