table {
    border: 5px solid rgb(180, 43, 43);
    /*border-spacing: 20px;*/
    /*border-collapse: collapse;*/
    /*border-radius: 15px;*/
    /*border: 5px solid #000;*/
    /*border-image: url("tyt.ico") 15;/*
    /*border-image: linear-gradient(red, blue) 60/80px;*/
    empty-cells: hide;

}

th{
    border: 1px solid red;
}

td {
    border: 1px solid blue;
}

#uniq {
    width: 130px;
    height: 120px;
   /* text-align: center;
    vertical-align: bottom;
    background-color: burlywood;*/
  
}
